.card {
  max-width: 500px;
  /* min-width: 300px; */
  width: 100%;
  height: auto;
  margin-top: 1em;
  display: flex;
  border-style: solid;
  border-color: #bd685b;
  color: #b13554;
  background-color: rgb(255, 228, 236);
  text-align: left;
}

.card_photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}

.card_photo img {
  max-width: 100px;
}

.card_body {
  margin-left: 40px;
}

.card_options {
  padding-top: 1.67em;
  padding-bottom: 1.67em;
}

.card_edit-delete {
  padding-top: 20px;
}

.card_options button {
  padding: 5px;
  font-size: 1em;
  background-color: #ffd6d8;
  font-family: Georgia, Times, 'Times New Roman', serif;
  border-color: #b13554;
}

.card_options button:hover {
  background-color: #e6b1b4;
}

.card_options button a {
  color: #831a34;
  text-decoration: none;
}

.card_options button a:hover {
  text-decoration: underline;
}

.card_list-item a {
  color: #b13554;
  text-decoration: none;
}

.card_list-item a:hover {
  text-decoration: underline;
}

.card_list-item a:active {
  color: rgb(143, 143, 143);
  text-decoration: underline;
}

.card_edit-delete {
  font-size: 1.2em;
}

.edit-button {
  margin-right: 15px;
}

.icon-github {
  color: black;
}

.icon-linkedin {
  color: #0a66c2;
}

.icon-facebook {
  color: #1b74e4;
}

.icon-instagram {
  color: #db3073;
}

.icon-edit {
  color: rgb(0, 190, 0);
}

.icon-delete {
  color: red;
}

td {
  min-width: 25px;
  line-height: 1.5;
}