.card {
  max-width: 500px;
  /* min-width: 300px; */
  width: 100%;
  height: auto;
  margin-top: 1em;
  display: flex;
  border-style: solid;
  border-color: #bd685b;
  color: #b13554;
  background-color: rgb(255, 228, 236);
  text-align: left;
}

.card_photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}

.card_photo img {
  width: 100px;
  height: 150px;
}

.card_body {
  margin-left: 40px;
}

.card_options {
  padding-top: 1.67em;
  padding-bottom: 1.67em;
}

.card_edit-delete {
  padding-top: 20px;
}