.card {
  width: 1000px;
  height: 500px;
  margin-top: 1em;
  display: flex;
  border-style: solid;
  border-color: black;
}

.card_photo {
  justify-content: flex-start;
}

.card_photo img {
  width: 400px;
  height: 500px;
}
