.react-confirm-alert {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 40%;
  border-style: solid;
  border-color: black;
  background-color: burlywood;
}

.react-confirm-alert h1 {
  padding-top: 0px;
  margin-top: 0px;
}

.react-confirm-alert-body {
  padding: 20px;
}

.react-confirm-alert-button-group {
  padding-top: 10px;
}